.studentmain {
    display: grid;
    width: 250px;
    height: 250px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color:  rgb(204, 165, 99);
    border-radius: 10px;
}

.header {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.gr11 {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: black;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gr12 {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: black;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pop-up {
    display: grid;
    width: 300px;
    height: 250px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color:  rgb(204, 165, 99);
    border-radius: 10px;
}

.teacher {
    width: 75px;
    height: 50px;
    color: black;
    background-color: rgb(250, 237, 205);
}

.student {
    width: 75px;
    height: 50px;
    color: black;
    background-color: rgb(250, 237, 205);
}