body {
    font-family: Arial, sans-serif;
    background-color: #e6e0e0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: 	#fdf9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"], textarea, select, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.lessons {
    margin-top: 20px;
}

.lesson {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.lesson h2 {
    margin: 0 0 10px;
    color: #4CAF50;
}

.lesson p {
    margin: 0;
}

.lesson a {
    display: block;
    margin-top: 10px;
    color: #337ab7;
    text-decoration: none;
}

.lesson a:hover {
    text-decoration: underline;
}

.lesson span {
    font-weight: bold;
}